.controlBar {
    width: 100%;
    height: 8%;
}

.ctrl-btn {
    color: #bdc3c7;
    transition: 0.1s;
    cursor: pointer;
}

.ctrl-btn:hover {
    color: #ccf6ff;
    transition: 0.2s;
}

.cherv {
    top: 10%;
    right: 10%;
    font-size: 12px;
}

.video-btn-cherv {
    top: 23%;
    right: -120%;
    font-size: 12px;
}

.mic-btn-cherv {
    top: 23%;
    right: -160%;
    font-size: 12px;
}

.dangerButton {
    background: #d00909;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px 30px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 0.7rem;
    font-weight: bold;
}

.dangerButton:hover {
    background: #b81212;
}

.popoverMenu {
    z-index: 5;
    background: #2f2f2f;
    border-radius: 4px;
    margin-bottom: 3rem;
    padding: 10px;
}

ul.list {
    border-bottom: 1px solid #b9b9b9;
    list-style-type: none;
    padding-inline: 0;
}

.listStyleNone {
    list-style-type: none;
}

ul.list:last-child {
    border: none;
}

.popOverItem {
    font-size: 0.7rem;
    font-family: Roboto, Arial, sans-serif;
    margin-bottom: 7px;
    margin-top: 7px;
    margin-left: 0;
    padding: 4px;
    cursor: pointer;
}

.popOverItem:hover {
    background-color: #434343;
    border-radius: 2px;
}

.popOverOptionsItem {
    font-size: 0.7rem;
    font-family: Roboto, Arial, sans-serif;
    margin-bottom: 7px;
    margin-left: 0;
    padding: 4px;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
}

.popOverOptionsItem:hover {
    background-color: #434343;
    border-radius: 2px;
}

.raiseHandButton {
    outline: none;
    border: none;
    text-align: center;
    width: 100%;
    background-color: #3f3f3f;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-shadow: 1px 1px 2px black;
    z-index: 2000;
}

.raiseHandButton:disabled {
    background-color: crimson;
}

.raiseHandButton:hover {
    background-color: #343434;
}

.raisingHand {
    top: -20px;
    left: 0.5rem;
    position: absolute;
    font-size: 1.4rem;
}

.paletteItem {
    margin: 0;
    margin-right: 10px;
    padding: 0;
    font-size: 17px;
    transition: 0.1s;
    cursor: pointer;
}

.paletteItem:hover {
    transition: 0.2s;
    transform: scale(1.15, 1.15);
}

.paletteItem:active {
    transition: 0.1s;
    transform: scale(1, 1);
}

.paletteItem:last-child {
    margin: 0;
    margin-right: 0;
}
